.landingPageDiv {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}


.splashDiv {
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/784ce9bd-f97b-49a3-ac53-cec578d906af/d34ec03-158f4109-4103-4cf2-9ff0-69e504e50a41.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzc4NGNlOWJkLWY5N2ItNDlhMy1hYzUzLWNlYzU3OGQ5MDZhZlwvZDM0ZWMwMy0xNThmNDEwOS00MTAzLTRjZjItOWZmMC02OWU1MDRlNTBhNDEuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.nB3GlNmOswel3pwcPVTbSFM6ec20GJvkXjHqxK94D24);
    width: 1000px;
    height: 486px;
    background-size: 100%;
    background-position: relative;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-left:-100px;
}

.salesPitchContainer{
    width:300px;
    height:350px;
    position:relative;
    border-radius: 15px;
    background-color: white;
    margin-left:320px;
    margin-top: 50px;
    box-shadow: -8px 0px 10px rgb(164, 163, 163);
    display: flex;
    flex-direction: column;
}

.joinUsText, .signUpLink {
    margin:12px;
    font-size:25px;
    font-family:Arial;
}