.footerlinks{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-decoration: none;
    color:rgb(67, 66, 66);
    text-shadow: 3px 3px 2.7px gray;
}

.linkDiv{
    display: flex;
    justify-content: space-around;
    
}

.footerDiv{
    padding-top: 125px;
}

.aboutDiv{
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/001/623/730/original/sci-fi-deep-space-background-loop-free-video.jpg);
    font-family: Arial, Helvetica, sans-serif;
    width:1900px;
    height:720px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    color:white;
}

.aboutH{
    margin-left:100px;
    margin-top: 300px;
    margin-right:-150px;
}

.aboutP{
    margin-left: -710px;
    width:600px;
    margin-top: 180px;
}