.individualDestDividerLine{
    color:rgb(222, 222, 222);
    font-weight: bolder;
    
}

.individualDestContainer{
    width:1230px;
    height:auto;
    display:flex;
    flex-direction: column;
    margin-left: 310px;
    border-style: hidden;
}

.individualDestPhotosContainer{
    display:flex;
    width:1230px;
    height:500px;
    border-style: solid;
    border-radius: 27px;
    border-style: hidden;
    overflow: hidden;
}

.individualDestOtherPicsContainer{
    display:flex;
    flex-wrap: wrap;
}

.individualDestFirstPic {
    width:600px;
    height:500px;
    object-fit: cover;
}

.individualDestOtherPics {
    width:305px;
    height: 245px;
    padding-top:0px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-right:0px;
    object-fit: cover;

}


.individualDestTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: lighter;
}


.individualDestSummaryDiv{
    
    margin-top: 60px;
}

.individualDestSummaryLabel{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 60px;
}

.individualDestSummaryContent{
    color:rgb(116, 114, 114);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    line-height: 1.7;
}



.lodgingThumbContainer{
    width:1230px;
    display:flex;
    flex-direction: row;
    
}

.lodgingThumbEach{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 55px;
    margin-right: 55px;
}

.eachLodgingImg {
    width:300px;
    height:220px;
    border-radius: 18px;
    object-fit: cover;
}

.lodgingSelectBtn{
    max-width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: rgb(65, 64, 64);
    border-radius: 9px;
    border-style: hidden;
    color:ivory;
    margin-top:2px;
}

.lodgingThumbName{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight:lighter;
    
}

.lodgingAttributDisplay{
    width:1230px;
}

.lodgingAttributeItemText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin:18px;
    color: rgb(116, 114, 114);
}